name: 42sh
on:
  push:
    branches-ignore:
    - "ga-ignore-*"
  pull_request:
    branches-ignore:
    - "ga-ignore-*"
jobs:
  check_coding_style:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/epitech/coding-style-checker:latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Run the coding style checker
      run: |
          check.sh $(pwd) $(pwd) > coding_style_reports.log 2>&1

    - name: Check errors
      run: |
          while read line; do
            file=$(echo $line | cut -d":" -f1)
            line_number=$(echo $line | cut -d":" -f2)
            level=$(echo $(echo $line | cut -d":" -f3 | cut -d" " -f2) coding style error)
            code=$(echo $line | cut -d":" -f4-)
            echo "::error file=$file,line=$line_number,title=$level::$code"
          done < "coding-style-reports.log"
    - name: Report errors
      run: |
          if test -s coding-style-reports.log; then
            exit 1
          fi


  check_program_compilation:
    env:
      EXECUTABLES: ${{ secrets.EXECUTABLES }}
    needs:
      - check_coding_style
    runs-on: ubuntu-latest
    container:
      image: epitechcontent/epitest-docker:latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Compile program
      run: make
      timeout-minutes: 2
    - name: Clean binary
      run: make clean
    - name: Check file existance
      run: for FILE in $EXECUTABLES; do test -f $FILE && echo '$FILE exist' ; done


  push_to_mirror:
    needs: [check_program_compilation]
    if: ${{ github.event_name == 'push' && !startsWith(github.ref, 'refs/tags') }}
    name: "push_to_mirror"
    runs-on: ubuntu-latest

    env:
      MIRROR_URL: git@github.com:EpitechPromo2027/B-PSU-200-LIL-2-1-42sh-henri.gey-bechalier.git

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Push repository
        uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url: ${{ env.MIRROR_URL }}
          ssh_private_key: ${{ secrets.GIT_SSH_PRIVATE_KEY }}
